*, * *{
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    margin:0px;
}

.gallery .secondGallery{
    display:flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.secondGallery img{
        width: 400px;
        height: 400px;
        object-fit: cover;
        object-position: center;
}

.gallery img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.modalWindow{
    width: 100%;
    height:100% ;
    background-color: rgba(0, 0, 0, 0.445);
    position:fixed;
    top: 0;
    z-index:1;
    display:none;
    justify-content: space-around;
    align-items: center;
    color:aliceblue;

}

.imgText img{
    width: 50%;
    height: 50%;
}

.arrow{
    color: azure;
    font-size: 100px;
    cursor: pointer;
}

.arrow.right{
    padding: 0 20px 0 0;
}

.arrow.left{
    padding: 0 0 0 20px
}

.imgText{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
s